.section_container_nav{
    display: flex;
    flex-direction: column;
    background-color: #fff159;
}

.container_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}    

.logo{
    width: 75px;
    height: 40px;
    margin-top: 5px;
}    

.input_nav{
    width: 23vh;
    height: 30px;
    border-radius: 3px;
    border: none;
    text-align: center;
}   

.icons_nav{
    width: 100vmax;
    display: flex;
    justify-content: space-around;
}

.icon_menu_cart{
    width: 30px;
    height: 30px;
    margin-left: 3px;
    color: grey;
    
}    
.icon_menu_nav{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    color: grey;
    
}    

.section_search{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    color: rgb(180, 180, 180);
}  

.icon_logo{
    margin-left: 5px;
}

