.location_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
    height: 30px;
}

.location_container p{
    font-family:Helvetica ,Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: rgb(100, 100, 100);
    margin-left: 5px;
}

.location{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.location_icon{
    color: grey;
    width: 15px;
    height: 15px;
    font-weight: bold;
    margin-left: 5px;
}

.right_location{
    color: grey;
    width: 18px;
    height: 18px;
}

hr{
    width: 98%;
    margin: 3px;
}