.btn_darkMode{
    position: fixed;
    padding: 2vh;
    border-radius: 100%;
    border: none;
    bottom: 2vh;
    right: 2vh;
    background-color: rgb(182, 182, 182);
    color: rgb(0, 0, 0);
    transition: 1s;
}

.icon_dark_mode{
    width: 25px;
    height: 25px;
}

.icon_son_mode{
    width: 25px;
    height: 25px;
}
