.ask {
  display: flex;
  flex-direction: column;
}

.ask p {
  color: rgb(0, 0, 0);
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-family: 16px;
  font-weight: bold;
  margin: 1vh;
}

.textArea {
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: grey;
  resize: none;
}

.ask .textArea {
  padding: 1.5vh;
  width: 95vw;
  margin: auto;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 5px;
}
.ask button {
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  background-color: #3483fa;
  padding: 1vh;
  width: 95vw;
  margin: auto;
  height: 35px;
  border: none;
  margin-top: 10px;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;
}

.ultimasRealizadas {
  margin: 10px 0px 10px 0px;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.container_questions p {
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
}

.container_questions span p {
  font-size: 14px;
  color: rgb(135, 135, 135);
  margin-left: 10px;
  margin-top: 5px;
}

.container_questions section {
  margin-bottom: 10px;
}

@media (min-width: 1000px) {

  .container_total_ask{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 5vh;
  }
  .container_questions {
    width: 100vh;
    margin: auto;
  }
  .ask{
    width: 100vh;
  }

  .ask .textArea{
    width: 100vh;
  }
  .ask button {
    width: 100vh;
  }
}
