
.section_total_comments{
    display: flex;
    justify-content: space-between;
}
.section_total_comments button{
    padding: 1.5vh;
    width: 200px;
    cursor: pointer;
    margin: 5px;
    border: none;
    box-shadow: 1px 1px 3px 1px rgb(194, 194, 194);
    border-radius: 5px;
    font-weight: bold;
}
.section_total_comments button:nth-child(1){
    background-color: rgb(189, 189, 189);
}
.section_total_comments button:nth-child(2){
    background-color: rgb(231, 254, 225);
}
.section_total_comments button:nth-child(3){
    background-color: rgb(255, 214, 214);
}


.conatiner_comments section{
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
}

.span_comments{
    font-weight: bold;
    margin-top: 10px;
}

section p{
  font-size: 16px;
  font-family:Helvetica ,Helvetica,Arial,sans-serif;
  color: rgb(100, 100, 100);
  margin-top: 5px;

}

.iconStar_comment{
    color: rgb(106, 156, 248);
    margin-top: 6px;
}