body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.logo_desktop{
  width: 15vh;
  height: 5vh;
}

.logo_disney_desktop{
      width: 35vh;
      height: 6vh;
}

html{
  background-color: rgb(255, 255, 255);
}
